body
{
	background-color: #e0e0e0;
	font-family: 'Lobster', cursive;

}

h1
{
	text-align: center;
	font-size: 100px;
	
}


.hello
{
	font-size: 40px;

}

input#recherche
{
	font-size: 25px;

}

.check
{
	width: 20px;
	height: 20px;

}


#todoshermanos
{
	margin: 0px 0px 16px 0px;

}


#main
{
	background-color:  #3f51b5;
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	border : solid 3px black;
	border-radius: 5px;
}

#todo

{
	margin-left: auto;
	margin-right: auto;
	width: 300px;

}

#language
{
	background-color: #bdbdbd;

}

.description
{

	background-color: #9e9e9e;

}

ul

{
	list-style-type: none;
	padding: 0;
}


.java

{
	text-decoration: line-through;
	
}

ul#footer li 
{
	display: inline;

}

#recherche
{
	width: 296px;
	height: 40px;

}